*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient( 90.8deg,  rgba(27,53,68,1) 2.2%, rgba(110,180,135,1) 84% );
}

body h2{
    margin-bottom: 2%;
    text-align: center;
    padding: 10px;
}

button{
    cursor: pointer;
}

#FormContainer{
    display: flex;
    width: 750px;
    height: 450px;
    box-shadow: 0 0 5px #777;
    border-radius: 8px;
    background-color:  rgba(255, 255, 255, 0.4);  
}

#FormDataContainer{
    width: 65%;
    box-shadow: 0 0 5px #777;
    border-radius: 8px;
    background-color: whitesmoke;
}

#DOBdate{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
}

#DOBlabel{
    color: rgb(171, 171, 171);
    left: 10px;
    position: absolute;
    left: 45%;
}

#DOB{
    width:100%;
}

#FormPages{
    width: 40%;
    border-radius: 8px;
}

#UserForm{
    width: 100%;
    height: 100%;
}

#PersonalInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    padding: 3%;
    display: none;
}

#PersonalInfo h4{
    text-align: center;
}

#EducationInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    padding: 3%;
    /* display: none; */
}

#EducationInfo h6{
    text-align: center;
}

#EducationInfo h4{
    text-align: center;
}

#HighestEducation, #InterDetails, #AcademicDetails{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 5px;
    row-gap: 5px;
}

.btnFwd{
    background-color: #4caf50;
    border: none;
    outline: none;
    border-radius: 5px;
    color: white;
}

.btnPrev{
    background-color: #b0b0b0;
    border: none;
    outline: none;
    border-radius: 5px;
    color: white;
}

#btnGrp{
    display: flex;
    justify-content: space-evenly;
}

#btnGrp button{
    width: 45%;
    height: 30px;
}

.InputSize{
    height:30px;
    padding: 2%;
     outline: none;
}

#Username{
    padding: 2%;
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    column-gap: 10px;
    row-gap: 20px;
}

#FName, #LName, #MailID, #PhoneNo{
    width: 100%;
    /* border: none; */
    height:30px;
    padding: 2%;
}

#address{
    height:80px;
    outline: none;
    padding: 2%;
    resize: none;
}

#Next{
    height: 30px;
}

#ExperienceInfo h4{
    text-align: center;
}

#ExperienceInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    padding: 3%;
    display: none;
}

#ExpDetails{
    height:80px;
    padding: 2%;
}

#btnGrpExp{
    display: flex;
    justify-content: space-evenly;
}

#btnGrpExp button{
   width: 40%;
   height:30px
}

#progressbar{
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;  
}

#progressbar div{
    width: 80%;
    padding: 10px;
    text-align: center;
    background-color: #2ac472;
    border-radius: 5px;
    transition: background-color 0.5s, transform 0.5s;
}

.active{
    background-color: #4caf50;
    color: white;
    transform: scale(1.05);
    box-shadow: 0 0 5px #777;
}


@media screen and (max-width: 768px) {
    #Username{
        grid-template-columns: auto;
    }

    #HighestEducation, #InterDetails, #AcademicDetails{
    display: grid;
    grid-template-columns: auto;
    column-gap: 5px;
    row-gap: 5px;
    }

     #FormContainer{
        display: flex;
        flex-direction: row-reverse;
        width: 65%;
        height: 100vh;
    }

    #FormDataContainer{
        width:85%;
        overflow: auto;
        scrollbar-width: thin;
    }

    #progressbar{
        flex-direction: column;     /* horizontal instead of vertical */
        justify-content: space-around;
        align-items: center;
        height: 100%;
    }
  
    #progressbar div{
        transform: rotate(-90deg);
        width: 160px;             /* VERY important */
        padding: 5px;          /* spacing between items */
    }

    #FormPages{
        width: 15%; 
        height: 100%;            
    }

}
